---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero.astro'
import Examen from '../components/examen.astro'
import Link from '../components/link.astro'
import Contacto from '../components/contacto.astro'
import Footer from '../components/footer.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero/>
		<Examen/>
		<Link link="./calcular" name="Calcula tu IMC"/>
		<Contacto/>
		<Footer/>
			
	</main>
</Layout>

