---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<header>
			<h1 class="Logo">Logo</h1>
			<ul class="nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Quienes Somos</a></li>
				<li><a href="#">Servicios</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
			<div class="social">
				<i class="fab fa-facebook">F</i>&nbsp;&nbsp;
				<i class="fab fa-twitter">T</i>&nbsp;&nbsp;
				<i class="fab fa-instagram">i</i>
			</div>
		</header>
	</main>
</Layout>

<style>
	
</style>

<script>

</script>