---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Quienes Somos">
    <p>
        QUIENES SOMOS
        
        Somos un grupo de profesionales altamente calificados en el área de  Bioanálisis, dispuesto a prestar un servicio óptimo con tecnología de punta. Nuestra amplia experiencia en el área nos permite brindar al paciente un trato individual, adaptado a su necesidad específica ,ofreciendo resultados exactos, en el menor tiempo y al mejor Costo.
        </p>

</Layout>