---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Servicios">
    <p>
        SERVICIOS

        HORARIO DE ATENCIÓN:
        Lunes a Viernes: 7:00 a.m. – 6:00 p.m. en Jornada Continua.
        Recibimos muestras.
        TRASLADOS A EMPRESAS:
        Se presta el servicio “In company”, nos trasladamos hasta su compañía, para prestarle el servicio de jornadas pre- vacacionales, post- vacacionales, y jornadas anuales.
        DOMICILIO:
        Nos trasladamos hasta su hogar, previa cita. 
    </p>
</Layout>