---
import Link from "./link.astro";
---
<section>
    <div>
        <img src="" alt="">
        <h2></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magni nihil maxime excepturi rerum sit!</p>
    </div>
    <div>
        <img src="" alt="">
        <h2></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magni nihil maxime excepturi rerum sit!</p>
    </div>
    <div>
        <img src="" alt="">
        <h2></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magni nihil maxime excepturi rerum sit!</p>
    </div>
    <Link link="examenes" name="Ver Mas"/>
</section>