---

---
<section class=hero>
    <p>Bienvenidos al sitio Web del Laboratorio Clínico de Centro de Salud Integral Anluz VII C.A., está plataforma ha sido diseñada y desarrollada pensando en usted, y sus necesidades.

        Durante su recorrido encontrará información de gran utilidad, pensando siempre en prestar diariamente el servicio que usted merece.</p>
</section>