---

---
<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/quienes-somos">Quienes Somos</a></li>
    <li><a href="/examenes">Examenes</a></li> 
    <li><a href="/servicios">Servicios</a></li>
    <li><a href="/#contacto">Contacto</a></li>
</ul>