---

---
<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/quienes-somos">Quienes Somos</a></li>
    <li><a href="/examenes">Examenes</a></li> 
    <li><a href="/servicios">Servicios</a></li>
    <li><a href="/#contacto">Contacto</a></li>
</ul>

<style>
    .nav{ 
        font-size: 20px;
        border-radius: 9px;
        list-style: none;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        
    }

    .nav li a {
        text-decoration: none;
        padding:.5rem.75rem;
        transition: all ease 3s;
        position: relative;
        z-index: 4;

    }
</style>