---
import { Icon } from 'astro-icon';
---
<div class="social">
    <div class="social">
        <a href="https://instagram.com" target="_blank">
          <Icon name="carbon:logo-instagram" size="28" color="blue" />
        </a>
        <a href="https://facebook.com" target="_blank">
          <Icon name="jam:facebook-square" size="24" color="blue" />
        </a>
        <a href="https://x.com" target="_blank">
          <Icon name="jam:twitter-square" size="24" color="blue" />
        </a>
      </div>
      
</div>

<style>
    .social{
        margin:.2rem;
        width :10%;
        height: auto ;
        display: flex;
        justify-content: center;
        align-items: center;
}
</style>